<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User</title>
</head>
<body>
<h1>User</h1>

<div>
    <nobr>
        <a th:href="@{/users/}">Back to Users</a>
    </nobr>
</div>
<br/><br/>
<div>
    <form th:action="${create} ? @{/users/newUser/create} : @{/users/{userId}/edit/submit(userId=${user.id})}"
            th:object="${user}" method="POST">
    <table border="1">
        <tr>
            <th>Name</th>
            <th>LastName</th>
            <th>Submit</th>
        </tr>
        <tr>
            <td><label>
                <input type="text" th:field="*{firstName}" size="50" />
            </label></td>
            <td><label>
                <input type="text" th:field="*{lastName}" size="50" />
            </label></td>
            <td><input type="submit" th:value="${create} ? 'Create' : 'Edit'" /></td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>