<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>User List</title>
</head>
<body>
<h1>User List</h1>

<div>
  <nobr>
    <a th:href="@{/users/newUser}">Add User</a> |
    <a th:href="@{/users/}">Back to Users</a>
  </nobr>
</div>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>LastName</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:each ="user : ${users}">
      <td th:utext="${user.id}">...</td>
      <td th:utext="${user.firstName}">...</td>
      <td th:utext="${user.lastName}">...</td>
      <td><a th:href="@{/users/{userId}/edit(userId=${user.id})}">Edit</a></td>
      <td><a th:href="@{/users/{userId}/delete(userId=${user.id})}">Delete</a></td>
    </tr>
  </table>
</div>
</body>
</html>